#cont1 {
    background: url("/assets/clase2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;

    /*border: 2px solid black;*/
    padding: 25px;   
}

#cont2 {
    /*border: 2px solid blue;*/
    height: 80%;
}

#cont3 {
    /*border: 2px solid yellow;*/
    float: right;
    width: 40%;
    margin-top: 60px;
}

#cont4 {
    /*border: 2px solid red;*/
    float: left;
    width: 40%;
    height: 50%;
    margin-top: 60px;
}

.btn{
    margin: 0 0 0 15px
}