#cont1 {
    background: url("/assets/clase.jpg");
    background-size: auto;
    background-repeat: no-repeat; 
    border: 2px solid black;
    height: 100%;
    padding: 25px;
}

#cont2 {
    border: 2px solid black;
    height: 80%;
    align-content: center;
}