<app-header></app-header>
<body id="cont1">
  <div class="container-fluid text-center">       
      <div class="center circulo" >
            <img  src={{urlimage}} >
      </div>
      <div >
        <span class="navbar-text"> <b>Nombre:</b>  {{ nombre }} </span><br>
        <span class="navbar-text"> <b>Usuario:</b>  {{ nickname }} </span><br>
        <span class="navbar-text"> <b>Email:</b>  {{ email }} </span>
      </div>
      <div >
          <b>Horario</b> 
      </div>
      <div >
          <b>Comentarios</b> 
      </div>
      <div>        
        <button type="button" class="btn btn-success">Hoja de Vida</button>
        <button type="button" class="btn btn-success">Agendar</button>
      </div>
      <br>
        <div>
            <button type="button" class="btn btn-info">Editar</button> <br>
            <br>
        </div>              
  </div>
</body>
