<body>
  <div class="container-fluid" id="cont1">
    <div class="container-fluid" id="cont2">            
      <div class="container-fluid" id="cont3">
        <app-image></app-image>      
        <div class="circulo" >
          <img src={{image}} alt="Foto de perfil" class="img">
        </div>
      </div>
      <div class="container-fluid" id="cont4">
        <span class="navbar-text"> Nombre: {{ nombre }} </span><br>
        <span class="navbar-text"> Usuario: {{ nickname }} </span><br>
        <span class="navbar-text"> Email: {{ email }} </span>
      </div>
      <div class="container-fluid" id="cont5">
          horario
      </div>
      <div class="container-fluid" id="cont6">
          comentarios
      </div>
      <div class="container-fluid" id="cont7">        
        <button type="button" class="btn btn-success">Descargar Hoja de Vida</button>
        <button type="button" class="btn btn-success">Agendar</button>
      </div>                  
    </div>
  </div>
</body>
