<!--<div *ngFor="let tuto of tutorias | async">
    <div class="card" style="width: 100%; margin-top: 10px">
      <div class="card-body">
        <h5 class="card-title">{{tuto.materia}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">by {{tuto.descripcion}}</h6>
        <p class="card-text">{{tuto.id}}</p>
      </div>
    </div>
  </div> -->
<app-header></app-header>
<br>
 
  <form [formGroup]="tutoForm" (ngSubmit)="onSubmit()">
    <div class="container">
        <div class="text-center">
            <h2 class="container">Crear tutoria</h2>
          </div>
      <div class="form-group">
        <div class="row">
          <div class="col-2 offset-3 ">
        <label for="exampleFormControlSelect1">Materia</label>
          </div>
          <div class="col-3">
        <select class="form-control" formControlName="materia">
          <option>Calculo</option>
          <option>Biologia</option>
          <option>Programacion</option>
          <option>Ortografia</option>
        </select>
      </div>
    </div>
  </div>

      <div class="form-group">
        <div class="row">
          <div class="col-2 offset-3">
              <label for="exampleFormControlTextarea1">Descripcion</label>
          </div>
          <div class="col-3">
              <textarea class="form-control"  rows="3" formControlName="descripcion"></textarea>
          </div>
        </div>
        
       
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-2 offset-3">
            <label for="exampleFormControlInput1" >Costo</label>
          </div>
          <div class="col-3 ">
              <input type="text" class="form-control"   formControlName="cupos" >
          </div>
        </div>
      </div>
    </div>
    
    <div class="text-center">
      <input class="btn btn-primary" type="submit" value="Siguiente">
    </div>
    
    
  </form>