<!--<div *ngFor="let tuto of tutorias | async">
    <div class="card" style="width: 100%; margin-top: 10px">
      <div class="card-body">
        <h5 class="card-title">{{tuto.materia}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">by {{tuto.descripcion}}</h6>
        <p class="card-text">{{tuto.id}}</p>
      </div>
    </div>
  </div> -->

  <h1>Crear tutoria</h1>
  <form [formGroup]="tutoForm" (ngSubmit)="onSubmit()">
    
    <div class="form-group">
      <label for="exampleFormControlSelect1">Materia</label>
      <select class="form-control" formControlName="materia">
        <option>Calculo</option>
        <option>Biologia</option>
        <option>Programacion</option>
        <option>Ortografia</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Descripcion</label>
      <textarea class="form-control"  rows="3" formControlName="descripcion"></textarea>
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Costo</label>
      <input type="text" class="form-control"   formControlName="cupos" >
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Id tutor</label>
      <input type="text" class="form-control" formControlName="idtutor">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Id token</label>
      <input type="text" class="form-control" formControlName="idtoken">
    </div>
    <input type="submit">
    
  </form>